/*
Author: Daniel Svirida
filename: styles.css
date: 11/17/21
*/

html{
    background: url(bmw.jpg);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-color: black;
}

body{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "title facts"
        "fields facts";
}

div{
    border: solid;
    border-color:slategrey;

    background-color:ghostwhite;
    padding: 10px;
}

#title{
    grid-area: title;

    border-top-left-radius: 7px;

    border-top-width: 10px;
    border-left-width: 10px;
}

#fields{
    grid-area: fields;

    border-bottom-left-radius: 7px;

    border-left-width: 10px;
    border-bottom-width: 10px;
}

#facts{
    grid-area: facts;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
}

li{
    list-style-type: none;
    margin: 10px;
}

#facts li{
    list-style-type: disc;
}

h1{
    margin: 2px;
}

h3{
    margin-left: 10px;
}

u{
    font-weight: bold;
}

button{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

#previous{
    margin-left: 10px;
}